:root {

    /*==============LIGHT THEME===============*/

    /*========BRAND=========*/

    --semantic-brand: var(--primary-800);
    --semantic-brand-hover: var(--primary-950); /*Generalmente es de un tono mas alto que el brand*/
    --semantic-brand-soft: var(--primary-200);
    --semantic-brand-soft-hover: var(--primary-350);

    /*=========BACKGROUND=========*/

    --semantic-background: var(--white); /*Fondo de toda la aplicación*/
    --semantic-surfacer: var(--gray-400); /*Fondo de modals, cards container*/
    --semantic-surfacer-muted: var(--gray-200); /*Zonas secundarias, con menos importancia*/
    --semantic-background-inverse: var(--gray-800);

    /*=========TEXT=========*/

    --semantic-text-primary: var(--gray-950); /*Color principal de letura, titulos, texto base del documento*/
    --semantic-text-secundary: var(--gray-700); /*Textos menos dominantes*/
    --semantic-text-muted: var(--gray-500); /*Texto desabilitados por ejemplo*/
    --semantic-text-inverse: var(--white); /*Texto invertido*/

     /*=========BORDER=========*/

        --semantic-border: var(--gray-400); /*Borde principla de los componentes*/
        --semantic-border-strong: var(--gray-700); /*Bordes mas fuertes*/

        /*=========FOCUS=========*/

        --semantic-focus-ring: var(--primary-700);

        /*=========STATE=========*/

        --semantic-success: var(--primary-950);
        --semantic-warning: var(--tertiary-950);
        --semantic-error: var(--secondary-950);

        /*==============TYPOGRAPHY===============*/

        --semantic-font-size-display: var(--fs-xxl); /*Texto de alto impacto, texto protagonista, hero, nunmeros grandes*/
        --semantic-font-size-h1: var(--fs-lg);
        --semantic-font-size-h2: var(--fs-md);
        --semantic-font-size-h3: var(--fs-sm);
        --semantic-font-size-body: var(--fs-xs);
        --semantic-font-size-medium: var(--fs-xxs); 
        --semantic-font-size-small: var(--fs-xxxs); 
        --semantic-font-size-caption: var(--fs-xxxxs);  /*Caption es texto auxiliar muy pequeño*/
      

        /*===========FONT WEIGHT===========*/

        --semantic-font-weight-heading: var(--fw-bold);
        --semantic-font-weight-body: var(--fw-regular);
        --semantic-font-weight-label: var(--fw-regular);


        /*======================================*/
        /* YA NO DEPENDEMOS DE NOMRES DE COLOR, DEPENDEMOS ES DE INTENCIÓN*/




        
        
}